<div class="temperature__container">
    <ngx-gauge [type]="gaugeType" 
           [value]="gaugeValue" 
           [label]="gaugeLabel"  
           [append]="gaugeAppendText"
           thick="14"
           cap="round"
           >
    </ngx-gauge>

   <div class="slider">
    <button mat-icon-button min="0" (click)="sliderCheck()"><mat-icon>remove</mat-icon></button>

    <mat-slider #slider
    [value]="sliderValue"
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1"
    min="1"
    max="100"
    (change)="sliderValueHasChange($event)"
    ></mat-slider>
    <button mat-icon-button  (click)="sliderCheckAdd()"><mat-icon>add</mat-icon></button>

</div>
</div>
