<header>
    <mat-toolbar color="primary">
        <button (click)="openSideNav()"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Dashboard</span>
          <div class="nav-container">
            <button mat-button [routerLink]="['/','auth']"><span>Logout</span></button>
            <!-- <button mat-button [routerLink]="['/','signup']"><span>Sign Up</span></button> -->
          </div>
        
      </mat-toolbar>
</header>
